spring:
  datasource:
    username: root
    password: 248812
    url: jdbc:mysql://localhost:3306/echovale
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  global-config:
    db-config:
      id-type: assign_id
